<div class='app'>
  <header>
    <h1>URL Shortener</h1>
    {{#if errorMsg}}
    <small>{{errorMsg}}</small>
    {{/if}}
  </header>
  <div class="link-icon">
    <i class="fa-solid fa-link fa-2xl"></i>
  </div>
  <div class="input-container">
    {{!-- <div id="url-input" class="url" contenteditable autofocus></div> --}}
    <input id="url-input" type="url" class="url" autofocus autocomplete="false" placeholder="https://">
    <button id='shorten-button' type="button">Shorten</button>
    <div id='completed-button-wrapper' class="display-none">
      <button id='copy-button' type="button">Copy</button>
      <button id='back-button' type="button">Back</button>
    </div>
    </form>
    <footer>
      <small>
        designed by <author>Yu-Ming</author> @2022
      </small>
    </footer>
  </div>
</div>