<div class='app'>
  <header>
    <h1>URL Shortener</h1>
  </header>
  <div class="link-icon">
    <i class="fa-solid fa-link fa-2xl"></i>
  </div>
  <div class="input-container">
    <div class="url" contenteditable autofocus></div>
    <button id='shorten-button' type="button">Shorten</button>
    <div id='completed-button-wrapper' class="display-none1">
      <button id='copy-button' type="button">Copy</button>
      <button id='back-button' type="button">Back</button>
    </div>
  </form>
  <footer>
    <small>
      designed by <author>Yu-Ming</author> @2022
    </small>
  </footer>
</div>

