<div class='app'>
  <header>
    <h1>URL Shortener</h1>
  </header>
  <div class="link-icon">
    <i class="fa-solid fa-link fa-2xl"></i>
  </div>
  <form>
    <input type="url" name="url" placeholder='https://' autocomplete="off" autofocus required>
    <button type="button">Shorten</button>
  </form>
  <footer>
    <small>
      designed by <author>Yu-Ming</author> @2022
    </small>
  </footer>
</div>

