input.url {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  transition: 0.3s;
  align-self: stretch;
  text-align: center;
  border-bottom: 1px solid #e6e6e6
}

input.url:focus {
  outline: none;
}

input.blue-text {
  color: rgb(50, 168, 227);
  border: none;
}

button {
  max-width: 180px;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 2px solid salmon;
  color: salmon;
  background-color: transparent;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  transition: all 0.5s;
  background: salmon;
  color: #FFFFFF;
  transform: scale(1.05);
}

.background-gray {
  transition: all 0.5s;
  background-color: #e7ebec;
}

i.rotate-180 {
  animation: rotate180 0.6s linear;
}

i.roll {
  animation: roll 0.6s linear infinite;
}

.display-none {
  display: none;
}

@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg)
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

